body{
    background-color: rgb(0, 0, 0);
} 

h1{
    text-align: center;
}


ul li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}


ul li a {
  display: block;
  color: rgb(254, 252, 252);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #020000;
}

li{
  width: 300px;
}
.container2{
  display: flex;               
  justify-content: center;  
  align-items: flex-start;     
  gap: 20px;     
}         
.box2{
  border: 2px solid white;     
  border-radius: 15px;         
  width: 300px;                
  height: 265px; 
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  margin-top: 10px;   
}
.box2:hover{
  transform: scale(1.05);
  transition: 0,2s;
}
.container3{
  display: flex;               
  justify-content: center;     
  align-items: flex-start;     
  margin-top: 10px;
  gap: 20px;     
}         
.box3{
  border: 2px solid white;     
  border-radius: 15px;         
  width: 300px;                
  height: 265px;               
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  margin-top: 10px; 
}
.box3:hover{
  transform: scale(1.05);
  transition: 0,2s;
}
.boxmidden2{
  border: 2px solid white;     
  border-radius: 15px;         
  width: 315px;                
  height: 275px;               
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  gap: 20px;
}
.boxmidden2:hover{
  transform: scale(1.05);
  transition: 0,2s;
}
.vp{
  position:absolute;
  left: 30%;
  border: 2px solid white;     
  border-radius: 15px;         
  width: 500px;                
  height: 150px;               
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  gap: 20px;
  margin-top:10px;
}
.vp:hover{
  transform: scale(1.05);
  transition: 0,2s;
}
.binair{
  position: absolute;
  border:2px solid white;
  border-radius:12px;
  padding:14px 14px;
  height:auto ;
  width:80%;
  text-align: center;
  left: 10%;
}
.binair:hover{
  transform: scale(1.05);
  transition: 0,2s;
}

.container11{
  display: flex;               
  justify-content: center;
  align-items: flex-start;     
  gap: 20px;     
  margin-top: 200px;              
}
.box1{
  border: 2px solid white;     
  border-radius: 15px;         
  width: 300px;                
  height: 265px;               
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  margin-top: 10px;
}
.box1:hover{
  transform: scale(1.05);
  transition: 2,0s;
}
.boxmidden1{
  border: 2px solid white;
  border-radius: 15px;         
  width: 315px;                
  height: 275px;               
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  gap: 20px;
}
.boxmidden1:hover{
  transform: scale(1.05);
  transition: 0,2s;
}

.container{
  display: flex;               
  justify-content: center;     
  align-items: flex-start;     
  gap: 20px;                     
}
.box{
  border: 2px solid white;     
  border-radius: 15px;         
  width: 300px;
  height: 250px;               
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  margin-top: 10px;   
}
.box:hover{
  transform: scale(1.05);
  transition: 2,0s;
}
.boxmidden{
  border: 2px solid white;     
  border-radius: 15px;         
  width: 310px;                
  height: 260px;               
  padding: 20px;
  text-align: center;
  box-sizing: border-box;   
  gap: 20px;
}
.boxmidden{
  transform: scale(1.05);
  transition: 0,2s;
}
.info:hover{
  transform: scale(1.05);
  transition: 0,2s;
}


.netjes{
  display: flex;               
  justify-content: center;     
  align-items: flex-start;     
  gap: 30px;
  margin-top: 40px;
}


.proberen{
  border:2px solid white ;
  border-radius: 12px ;
  padding: 14px 14px;
  float: 25%;
  width: 32%;
  text-align: center;
  top: 10px;
} 
.proberen:hover{
  transform: scale(1.05);
  transition: 0,2s;
}


.strond{
position: absolute;
top: 48%;
left:3%;
border: 2px solid white;
border-radius:12px;
width:45%;
height: 34%;
text-align: center;
}
.strond:hover{
  transform: scale(1.05);
  transition:0,2s ;
}
.strond2{
  position:absolute;
  top:10%;
  left:27%;
  border: 2px solid white;
  border-radius: 12px;
  width:45%;
  height: 33%;
  text-align: center;
}
.strond2:hover{
  transform: scale(1.05);
  transition:0,2s ;
}

.strond3{
  position: absolute;
top: 48%;
right:3%;
border: 2px solid white;
border-radius:12px;
width:45%;
height:33%;
text-align: center;
}
.strond3:hover{
  transform: scale(1.05);
  transition:0,2s ;
}

.uitleg{
  border:2px solid white;
  border-radius:12px;
  padding:14px 14px;
  height:auto ;
  width:auto;
  text-align: center;

}
.invoer{
  position: absolute;
  border:2px solid white;
  border-radius:12px;
  padding:14px 14px;
  height:auto ;
  width:80%;
  text-align: center;
  margin-top: 30px;
  left: 9%;

}

.pijl{
position: absolute;
left: 48%;
top: 75%;
}

.verwerking{
  position: absolute;
  border:2px solid white;
  border-radius:12px;
  padding:14px 14px;
  height:auto ;
  width:80%;
  text-align: center;
  margin-top: 250px;
  left: 9%;
}

.pijl2{
  position: absolute;
  left: 48%;
  top:630px;
}

.uitvoer{
  position: absolute;
  border:2px solid white;
  border-radius:12px;
  padding:14px 14px;
  height:auto ;
  width:80%;
  text-align: center;
  margin-top: 477px;
  left: 9%;
}

.invoer:hover{
  transform: scale(1.05);      /* Beetje vergroten */
  transition: 0.2s;
}

.verwerking:hover{
  transform: scale(1.05);
  transition:0,2s;
}

.uitvoer:hover{
  transform: scale(1.05);
  transition:0,2s ;
}